<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Gemini API'ye erismek icin internet erisimi gerekir. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Sohbet panelinden fotograf cekebilmek icin (image_picker). -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <!-- Hatirlatici bildirimlerini gosterebilmek icin (Android 13+). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- "Ekranda Gez" kayan balonu (bkz. ScreenWatchOverlayService) icin -
         diger uygulamalarin uzerinde cizim yapma izni, ve balonu ayakta
         tutan on plan servisi. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <!-- "Sesli Ajan" (bkz. VoiceAgentScreen) icin sesli komut alma
         (speech_to_text). Kutuphanenin kendi bildiriminden Gradle
         birlestirmesiyle zaten geliyor ama kritik bir izin oldugu icin
         burada da acikca beyan edilir. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Tum ag trafigi (Gemini API + bilgisayardaki "Uzaktan Kumanda"
         ozelligi) artik HTTPS uzerinden gider; duz metin (cleartext)
         trafige izin verilmiyor. -->
    <application
        android:label="AI Kedi Asistani"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Baska uygulamalardan (orn. YouTube) bir link "Paylas" ile
                 gonderildiginde bu uygulamayi da secenek olarak sunar;
                 secilirse "Bilgisayarda Ac" paneli linkle dolu acilir. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <!-- Bir dosya yoneticisinden onceden alinmis bir yedek (.json)
                 dosyasi "Paylas" ile gonderildiginde geri yukleme akisini
                 baslatir. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/json"/>
            </intent-filter>
            <!-- Ana ekran widget'indaki bir dugmeye basildiginda uygulamayi
                 acan intent (home_widget paketi tarafindan gonderilir). -->
            <intent-filter>
                <action android:name="es.antonborri.home_widget.action.LAUNCH"/>
            </intent-filter>
        </activity>

        <!-- Ana ekran widget'i: sohbeti/kumanda panelini dogrudan acan iki
             hizli erisim dugmesi gosterir (bkz. CatWidgetProvider.kt). -->
        <receiver
            android:name=".CatWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cat_widget_info"/>
        </receiver>
        <!-- "Ekranda Gez" kayan balonunu ayakta tutan on plan servisi
             (flutter_overlay_window paketi tarafindan saglanir). Android
             14+'ta on plan servisleri bir "tur" (type) belirtmek zorunda;
             burada kullanicinin kendi baslattigi, standart kategorilere
             uymayan bir "ozel kullanim" (specialUse) servisi. -->
        <service android:name="flutter.overlay.window.flutter_overlay_window.OverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="remote_screen_watch_overlay"/>
        </service>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- image_picker'in kamera uygulamasini bulabilmesi icin (Android 11+). -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
    </queries>
</manifest>
